@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  font-size: 14px;
}

body {
  font-family: "Inter", sans-sarif;
  color: #000;
  height: 100%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
}

h1,
h2,
ul,
ol {
  margin: 0;
  padding: 0;
}

div {
  display: block;
}

header {
  display: block;
  width: 100%;
}

.navbar {
  box-shadow: 0 5px 20px rgb(0 41 112 / 10%);
  height: 92px;
  background: #fff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 4;
  display: flex;
  align-items: center;
}

.navbar-header {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #00aced;
  cursor: pointer;
}

.navbar .navbar-header a {
  display: inline-block;
}

.logo {
  width: 90px;
}

nav {
  margin: auto;
  display: block;
}

ul {
  display: flex;
  position: relative;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

ul li {
  display: list-item;
  text-align: -webkit-match-parent;
  margin-right: 5px;
  padding: 3px;
  cursor: pointer;
}

li .header-link {
  position: relative;
}

.header-link a {
  transition: 0.25s ease-in;
  padding: 12px;
  display: block;
  font-size: 17px;
  color: #000;
  font-weight: 600;
}

.signIn {
  position: relative;
}

.signIn .sign {
  background: #00baf2;
  padding: 2px 2px 2px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 15px;
  color: #fff;
  font-weight: 600;
}

.sign:hover {
  background-color: rgb(27, 27, 179);
}

.sign-in-logo {
  margin-left: 9px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
}

.notif {
  background-color: hsl(0deg, 0%, 96%);
  font-size: 15px;
  color: #000;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

#hero {
  padding: 80px 0 65px 140px;
  display: flex;
}

span {
  font-weight: 600;
  padding-right: 5px;
}

.emoji {
  font-size: 25px;
  margin-bottom: 3px;
}

.text a {
  padding-left: 5px;
  font-weight: 600;
  font-size: 15px;
  color: #000;
}

.hero-img-container {
  margin-left: 200px;
}

.paytm-img {
  width: 80px;
  height: 80px;
  margin-bottom: 48px;
}

.hero-header > h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 65px;
}

.hero-subheader {
  padding-top: 10px;
  width: 475px;
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}
.hero-img {
  width: 520px;
  height: 500px;
  border-radius: 10px;
}

.download {
  padding: 0 24px;
  height: 44px;
  font-size: 15px;
  width: max-content;

  background: #000;
  color: #fff;
  font-weight: 500;

  border: 1px solid #000;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  cursor: pointer;
}

.download:hover {
  background-color: white;
  color: black;
}

.fab {
  padding-left: 10px;
  width: 15px;
  fill: #fff;
}

.container2 {
  background-color: hsl(194deg 100% 47%);
  margin-bottom: 0;
  padding: 65px 100px 65px 140px;
  display: flex;
  flex-direction: column;
}

.container3 {
  background-color: hsl(211deg 80% 30%);
  margin-top: 0;
  padding: 65px 100px 65px 140px;
}

h1 {
  display: block;
  font-weight: 700;
  font-size: 36px;
  margin: 0;
  padding: 0 0 40px;
}

.section2-header,
.section3-header {
  color: white;
}

.section2,
.section3 {
  width: 140px;
  margin-right: 32px;
  padding: 16px 11px 16px 16px;
  border-radius: 12px;
  cursor: pointer;
  line-height: 25px;
  font-weight: 500;
  justify-content: space-between;
  color: white;
  font-size: 17px;
}

.section2:hover {
  background-color: hsl(194deg 100% 43%);
}

.section3:hover {
  background-color: hsl(211deg 80% 27%);
}

.payment-text {
  color: white;
  font-weight: 700;
  font-size: 15px;
}

.payment-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.payment-img {
  width: 64px;
  margin-bottom: 17px;
  border-radius: 100%;
  display: block;
}

.payment-text > .payment-text3 > div {
  margin-left: 6px;
  padding: 3px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  transition: all 0.3s ease;
  transform: rotate(-45deg);
}
